netInfo homeNet = {  .mqttHost = "192.168.123.45",     //can be blank if not using MQTT
          .mqttUser = "user",   //can be blank
          .mqttPass = "password",   //can be blank
          .mqttPort = 1883,         //default port for MQTT is 1883 - only change if needed.
          .ssid = "ssid", 
          .pass = "passphrase"};

const char* server = "octo.local";  // server's address
const char* api_key = "APIAPIAPI";
const char* nx_ota_url = "http://url/to/oxtion.tft";
